@charset "utf-8";
/*Custom Nav*/
body {
	color: #363434;
	font-family: 'Open Sans', sans-serif;
}
/*All Wrapper*/

.right-content {
	padding-top: 0px;
}

.header-wrapper {
	border-bottom:1px solid #d0d0d0;
}


/*.float-element .sw-logo img{height:90px;}*/


.slides > li {
	position:relative;
}
.slide-caption {
	position:absolute;
	text-align:center;
	bottom:0px; 
	left:0px;
	z-index:1000;
	display:inline-block;
	background:#1e5729;
	padding: 5px 10px 5px;
	min-width:360px!important;
	text-align:left;
	color:#fff;
	
}
.flex-direction-nav a{height:58px; width:48px; padding:14px; }
.slide-caption p {
	color:#fff;
	font-weight:400;
	font-size:105%; 
	line-height:145%;
}
.slide-caption h3{font-size:150%; padding-bottom:5px;}
.slide-caption a {
	color:#fff; font-weight:600;
	text-decoration:none;
	font-size:100%;
}
.slide-caption a:hover {
	text-decoration:underline;
}
.slide-caption h2 span {
	display:block;
	font-weight:300;
}



.footer-top-wrapper ul li a {
  border-right: 1px solid #888888;                           
}
.footer-top-wrapper ul li a:hover {
	text-decoration: underline;
}
.footer-top-wrapper ul li:last-child a {
  border: none!important;
}




.body-block.whats-new-area h2 {
	color: #fff;
	margin-bottom: 0px;
	margin-top: 17px;
}
.mii-logo {
	display: inline-block;
}
/*Gallery CSS*/
.gallery-wrapper {
	background: url(../images/section-rural-bg.jpg) repeat;
	min-height: 220px;
	padding: 40px 0px 50px 0px;
}
/*.gallery-area {
	width:60%;
	float:left;
	position:relative;
}*/

.flex-control-paging .flex-active {
	color: #fff;
}
.gallery-area a {
	background: #1e5729;
	border: 0 none;
	color: #fff;
	display: inline-block;
	font-size: 110%;
	padding: 7px 20px;
	position: relative;
	font-weight:600;
	text-transform:uppercase;	
}
.gallery-area a:hover{background: #1e5729;}
.gallery-area h3 {
	background: #1e5729;
	color: #fff;
	float: left;
	font-size: 110%;
	font-weight: 600;
	padding: 7px 20px;
	text-transform:uppercase;
	border-right: 1px solid #fff;
}
.gallery-holder ul.slides {
  float: left;
  padding: 1px;
  width: 73.5%;
}
.gallery-holder .flex-caption{position:absolute; bottom:0px; left:0px; padding:10px 15px; background:rgba(0,0,0,0.6); color:#fff; width:100%; font-weight:400;}
.gallery-holder ol.flex-control-nav.flex-control-thumbs {
	float: left;
	margin: 0 0 0 1.5%;
	padding: 0;
	width: 23%;
}
.gallery-holder .flex-direction-nav {
	display: none;
}
.gallery-holder .flex-control-thumbs li {
	margin: 0 0 5.9%;
	padding: 0;
	width: 100%;
}

#galleryCarousel .slides {
   height: 100%;                       
}


.gallery-right {
  float: right;
  position: relative;
  width: 28%;
  height: 371px;
  overflow: hidden;
}
.bttn-intrct {
	border: 1px solid #ffd800;
	display: inline-block;
	padding: 15px 50px 15px 20px;
	color: #ffd800;
	font-size: 120%;
	font-weight: 600;
	position: relative;
	margin-bottom: 20px;
}
.bttn-intrct i {
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 200%;
}
.bttn-intrct:hover {
	background: #ffd800;
	color: #333;
}

.gallery-heading {
	float: left;
	left: 1px;
	position: absolute;
	top: 1px;
	z-index: 99999;
	opacity: 0.6;
}
.gallery-area .gallery-heading {
	opacity: 1;
}
/*whatsNewCaption*/

/*===============Direection nav=========================*/

.banner-wrapper{}
.inner-banner{background:url(../images/banner/inner-banner02.jpg) no-repeat center center; padding-bottom:0px; min-height:146px;}
.gallery-banner{background:url(../images/banner/gallery-banner.jpg) no-repeat center center;}
.banner-wrapper .flex-direction-nav a {
	opacity: 0.9;
}
.banner-wrapper .flex-direction-nav {
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
}
.banner-wrapper .flex-direction-nav .flex-next, .banner-wrapper .flexslider:hover .flex-direction-nav .flex-next {
	right: 0px;
	left: auto;
}
.banner-wrapper .flex-direction-nav .flex-prev, .banner-wrapper .flexslider:hover .flex-direction-nav .flex-prev {
	left: -15px;
}
.banner-wrapper .flex-direction-nav a::before {
	font-size: 15px;
	font-weight: 300;
	background: #000;
	display: inline-block;
	color: #FFF;
	border-radius: 0px;
	text-shadow: none;
	line-height: 30px;
	width: 35px;
	text-align: center;
	padding: 5px;
}
/*===============Direection nav ends=========================*/

/*==================gallery===================*/

.gallery-container {
	padding: 50px 0px
}
.gallery-area {
  float: left;
  position: relative;
  width: 70%;
}
.gallery-holder .flex-control-thumbs li:last-child{margin-bottom:0px;}


.infocus, .tabs-box, .external-link {
	border-radius: 1px;
}

.header-container {
  padding: 4px 0;
}
/*.logo a span {
  
  font-size: 132%;
  padding-top: 4px;
}*/
/*.logo {
 
  
  padding: 12px 0 0 82px;
}
.logo {
  margin-top: 4px;
 
}*/
.header-right {
  
  margin-top: 4px;
}


.tow-collumn{padding:25px 0px;}
.left-box{border-right:1px solid #c6c6c6; float:left; padding-right:40px;}
.left-box, .right-box{width:50%;}
.right-box{float:right; padding-left:40px;}
ul.list-single-collumn{list-style-type:none;}
ul.list-single-collumn li{background:url(../images/ico-box.png) no-repeat 0px 6px; padding-left:20px; font-size:101%;}

.other-sections h3{border-bottom:1px solid #a39c96; padding-bottom:15px; margin-bottom:18px; text-transform:uppercase;}
.other-sections ul li{list-style-type:none;}
.other-sections ul li {
  background: rgba(0, 0, 0, 0) url("../images/border.jpg") no-repeat scroll right center;
  display: inline-block;
  margin-right:20px;
  padding: 0 20px 0 0;
}
.other-sections ul li:first-child{padding-left:0px; margin-left:0px;}
.other-sections ul li:last-child{padding-right:0px; background:none;}
.other-sections ul li a{padding:0px 0px; color:#444343; font-weight:400;}
.other-sections ul li a:hover, .other-sections ul li a:focus{color:#000; text-decoration:underline;}
.other-sections ul{padding-left:0px;}
/*================floating nav==========*/
.floating_nav{width:270px; position:absolute; top:-44px; right:-195px; min-height:200px; z-index:9999; transition:all 0.7s; -moz-transition:all 0.7s; -webkit-transition:all 0.7s; display:none;}
.floating_nav:hover{right:0px;}
.floating_nav ul{list-style-image:none;}
.floating_nav ul li{display:block;}
.floating_nav ul li a *{transition:all 0.4s;}
.floating_nav ul li a{display:block; position:relative; background:rgba(210,108,30,0.95);  border-bottom:1px solid rgba(0,0,0,0.2);}
.floating_nav ul li:last-child a{border-bottom:none;}
.floating_nav ul li a span.float_icon {
  background-color: rgba(246, 129, 33, 0.7);
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  height:100%;
  position: absolute;
  width: 75px;
}
.floating_nav ul li a span.float_text{color:#FFF; font-size:130%; text-transform:uppercase; padding:27px 20px 26px 95px; font-weight:600; display:block;}
.floating_nav ul li.dbl_line a span.float_text{color:#FFF; font-size:130%; text-transform:uppercase; padding:15px 20px 14px 95px; font-weight:600; display:block;}

.floating_nav ul li a:hover, .floating_nav ul li a:focus{background:#FFF;}
.floating_nav ul li a:hover span.float_icon, .floating_nav ul li a:focus span.float_icon{background-color:#FFF;}
.floating_nav ul li a:hover span.float_text, .floating_nav ul li a:focus span.float_text{color:#000;}

.floating_nav ul li a span.ico_1{background-image:url(../images/ico-tangible.png);}
.floating_nav ul li a span.ico_2{background-image:url(../images/ico-intengible.png);}
.floating_nav ul li a span.ico_3{background-image:url(../images/ico-kr.png);}
.floating_nav ul li a span.ico_4{background-image:url(../images/ico-gh.png);}

.floating_nav ul li a:hover span.ico_1, .floating_nav ul li a:focus span.ico_1{background-image:url(../images/ico-tangible-hover.png);}
.floating_nav ul li a:hover span.ico_2, .floating_nav ul li a:focus span.ico_2{background-image:url(../images/ico-intengible-hover.png);}
.floating_nav ul li a:hover span.ico_3, .floating_nav ul li a:focus span.ico_3{background-image:url(../images/ico-kr-hover.png);}
.floating_nav ul li a:hover span.ico_4, .floating_nav ul li a:focus span.ico_4{background-image:url(../images/ico-gh-hover.png);}


/*==========slider controll===============*/

.banner-wrapper .flex-direction-nav{display: block;width: 100%;}
.banner-wrapper .flex-control-nav {
  bottom: 19px;
  right: 40px;
  width:auto;
}
.banner-wrapper .flex-control-paging li a {
  background: #ffffff;
  border-radius: 100%;
  box-shadow: none;
  height: 14px;
  width: 14px;
  border:2px solid #302f2a;
}
.banner-wrapper .flex-control-paging li a.flex-active {
  background: #1e5729;
  cursor: default;
  border:2px solid #302f2a;
}
.banner-wrapper .flex-control-paging *{outline:none !important;}

.banner-wrapper .flex-pauseplay {
  bottom: 20px;
  display: block;
  margin: 0;
  position: absolute;
  right: 100px;
  top: auto;
  z-index: 1;
}
.banner-wrapper .flex-pauseplay a.flex-pause, .banner-wrapper .flex-pauseplay a.flex-play{cursor:pointer; display:block ; background:#1e5729; color:#FFF;  position:absolute; bottom:0px; left:0px; border: 2px solid #302f2a;}
.banner-wrapper .flex-pauseplay a::before {
  font-size: 12px;
  position: relative;
  bottom: 3px;
}
.banner-wrapper .flex-pauseplay a {
  
  height: 25px;
  
  line-height: 25px;
  
  width: 25px;
}

.container.slide-cont {
	background-color: #1e5729;
}

/*==============page custom styles =====================*/
.menuzord-menu > li > .megamenu {
  z-index: 100000;
}
.body-container {
  padding: 45px 0 33px;
}

/*.float-element {
  margin-left: 0px;
}*/


/*======= top-bg-wrapper =====================*/ 
.top-bg-wrapper {background:#f3f3f3;}

.top-bg-wrapper .body-container {
	width: 100%;
}


.body-container-left{width:80%; float:left;}

.minister-panel {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #e1dddd;
  float: right;
  padding: 10px 10px;
  text-align: center;
  width: 20%;
}
.minister-panel .minister-box {
  padding: 6px 0;
}
.minister-panel .minister-box:first-child {
  margin-bottom: 23px;
}
.minister-panel .minister-box img{display:inline-block;}
.minister-panel .min-info{padding:8px 0px;}
.minister-panel .min-info .min-links{display:block; text-align:center;}
.minister-panel .min-info .min-links a{display:inline-block; padding:4px 5px;}
.minister-panel .min-info h4 {
  color: #2a2a2a;
  font-size: 105%;
  font-weight: 600;
  padding-bottom: 8px;
  padding-top: 5px;
}
.minister-panel .min-info .min-links a{color:#ed840d; padding:0px 5px;}
.minister-panel .min-info .min-links a.devider{padding:0px 0px; color:#666;}
.minister-panel .min-info h5{font-size:100%; color:#555555; font-weight:400;}

a.interact-with-minister{font-size:100%; font-weight:300; text-transform:uppercase; display:inline-block; border-top:1px solid #9b9b9b; border-bottom:1px solid #9b9b9b;}

a.interact-with-minister:hover{color:#552c2b ; border-color:#552c2b ;}


.important-links {background:url(../images/quick-linls-bg.jpg) repeat; padding:40px 0px;}

.important-links-box a{display:block; color:#fff;}
.important-links-box a:hover{color:#000;}
.important-links-box{float:left; width:25%; text-align:center; border-right:1px solid rgba(0,0,0,0.2);}
.important-links-box:last-child{border:none;}

.important-links-box a span{display:block;}
.important-links-box a span.link-ico img{display:inline-block;}
.important-links-box a span.link-txt{text-transform:uppercase; font-size:110%; padding-top:10px;}



.home-btm-slider{background:url(../images/gallery-bg.jpg) repeat;}


.wrapper.home-banner {
    background: #000;
    background-repeat: no-repeat;
    padding: 30px 0px 50px 0px;
}
.banner-content-wrapper {
	width: 65%;
	float: left;
	padding-right: 10%;
	padding: 20px 20px;
}

.banner-content-wrapper h2 {
	color: #fff;
	font-weight: 400;
	padding: 0px;
}
.banner-content-wrapper h2 span {
	color: #008544;
	font-weight: 700;
	text-transform: capitalize;
	font-size: 150%;
}

p.banner-title-tag-line {
	color: #fff;
	padding-top: 10px;
}

p.banner-title-tag-line:after {
	content: " ";
	border: 2px solid #008544;
	width: 50px;
	display: block;
	margin-top: 5px;
}

p.banner-content {
	color: #fff;
	line-height: 30px;
	padding: 15px 0px 30px;
	font-size: 110%;
}

.banner-content-wrapper a {
	border: 1px solid #912c1f;
	padding: 10px 20px;
	color: #9b3d31;
	text-transform: uppercase;
	background: #fff;
}
.banner-content-wrapper a:hover {
    color: #008544;
    border: 1px solid #008443;
}

.banner-right-wrapper {
	width: 34%;
	display: inline-block;
	text-align: center;
	float: right;
}

.banner-box {
	text-align: left;
	color: #fff;
	text-transform: uppercase;
	margin: 15px 0px 25px 5px;
	padding: 25px 20px;
}

.banner-box h2 {
	padding-bottom: 5px;
	font-size: 180%;
}

.banner-box.banner-box-1 {
	background: #DF3322;
}

.banner-box.banner-box-2 {
	background: #AB4509;
}
.banner-box.banner-box-3 {
	/* background: #A6690C; */
}


.banner-box p {
	font-size: 140%;
	float: left;
	padding-right: 5px;
	color: #fff;
	cursor: pointer;
}

.banner-box-content a:hover, .banner-box p ,.banner-box p .banner-box .fa.fa-external-link  {
    opacity: 0.8;
	font-size: large;
}

.banner-box .fa.fa-external-link {
	color: #fff;
	font-size: 12px;
}


.video{background:#ed840d; padding:15px 0px 0px;}
.video .video-heading{padding: 0px 10px;}
.video h3{color:#fff; font-size:130%; text-transform:uppercase; font-weight:600; line-height:99%; float:left; width:50%; }
.video .video-heading a{text-transform:uppercase;}
.video .video-heading a.btn-view{float:right; color:#fff;}

.video img{padding:10px 0px 0px; width:100%;}

.video-links h3{float:none; width:100%;}
.video-links {
  
  padding-bottom:15px;
  background:#55c83a;
  
}

.footer-links{padding:40px 0px;}
.links-holder h4 {
  margin-bottom: 10px;
  padding: 10px 5px 10px 40px;
}
.links-holder li {
  background: url(../images/ico-bullete3.png) no-repeat scroll 0 9px;
  margin-bottom: 4px;
  padding-left: 15px;
}
.links-holder li a{display:block; color:#0d0d0d; font-size:110%;}
.links-holder li a:hover{text-decoration:underline;}

.links-holder{ padding:0px 20px; float:left;}
.links-holder h4 {
  color: #454141;
  font-size: 140%;
  font-weight: 600;
  text-transform: uppercase;
}

.quick-links{ width:44%;}
.quick-links ul{float:left; width:45%; padding-right:10%;}
.quick-links ul:first-child, .quick-links ul.borderd{border-left:1px solid #cdcccc; padding-left:10%; width:55%; padding-right:0px;}

.document{width:28%;}
.document a.btn-view{margin-top:15px;}
.grd{width:28%;}

.quick-links h4{background:url(../images/ico-quick-links.png) no-repeat center left;}
.document h4{background:url(../images/ico-documents.png) no-repeat center left;}
.grd h4{background:url(../images/ico-grd.png) no-repeat center left;}


.pagination{text-align:right; padding:35px 0px;}

.pagination-inner{display:inline-block; text-align:left; font-size:90%; color:#8a8a8a;}
.pagination-inner a{display:inline-block; background:#e7e7e7; padding:5px 8px; border:1px solid #dad5d5; color:#989898; margin:0px 5px;}
.pagination-inner a:last-child{margin-right:0px;}
.pagination-inner a:hover, .pagination-inner a:focus{background:#f26522; color:#fff; }







.generic-style{color:#000;}
.generic-style ul{padding-bottom:15px;}
.generic-style ul li{background:url(../images/ico-box.png) no-repeat 0px 5px; padding-left:22px; padding-bottom:15px;}

.generic-style ul.two-clmn{-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
	
	-moz-column-gap:20px;
-webkit-column-gap:20px;
column-gap:20px;
padding-bottom:0px;}
.generic-style ul.two-clmn li{ /*float:left; width:47%; margin-left:1.5%; margin-right:1.5%; vertical-align:middle;*/}
.generic-style a{color:#ef7411;}

.generic-style ul.unesco{-moz-column-count: 2; /* Firefox */
    column-count: 2;
	
	-moz-column-gap:40px;
-webkit-column-gap:40px;
column-gap:40px;
padding-bottom:0px;}

.generic-style ul.unesco li{background:none; padding-left:0px; position:relative; min-height:110px; padding-left:120px;}

.generic-style ul.unesco li span{position:absolute; width:94px; height:94px; left:0px; top:0px; background:#6a6666; display:block; border-radius:50%; font-size:145%; color:#FFF; line-height:94px; text-align:center;}
.generic-style ul.unesco li a{display:block; padding-bottom:5px; padding-top:5px;}


.block-box{background:#f8f6f6;
padding:25px 30px;
margin-bottom:30px;}

.padding{padding:40px 0px;}


/*=====================================*/

#parentHorizontalTab,
.major-schemes,
.minister-panel {
	/* height: 515px; */
}

/*==============inner page=============*/
.inner-content {
  color: #000000;
  padding: 10px 0;
  
}

img.pull-right{padding:20px 0px 20px 20px; float:right;}
img.pull-left{padding:20px 20px 20px 0px; float:left;}
a.to-top{padding:5px 10px; background:#000; color:#FFF; text-align:center; display:block; text-transform:uppercase; width:125px; margin:0 auto;}
.box-content{padding:8px 15px; background:#f4f4f4; margin-bottom:15px; margin-top:5px; font-size:130%; font-weight:600; text-transform:uppercase; }
.text-center{text-align:center;}
.box-content-small{font-weight:400; font-size:100%; text-transform:none;}
.box-content-small p{padding:0px; margin:0px; display:block; position:relative;}
.box-content-small p::after, .box-content-small p::before {
  content: "****";
  display: inline-block;
  font-size: 150%;
  line-height: 80%;
  padding-left: 10px;
  padding-right: 10px;
  color:#807b7b;
  padding-top:4px;
}

.left-menu {
	width: 25%;
	float: left;
}
.right-content {
	float: right;
}
.breadcam {
	padding-bottom: 10px;
	padding-top: 20px;
	display: block;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}
.breadcam li {
	list-style-type: none;
	display: inline-block;
	font-size: 95%;
	color: #b5b5b5;
	text-transform:uppercase;
}
.breadcam li a {
	display: block;
	background: url(../images/breadcam-arrow.png) no-repeat right center;
	padding-right: 10px;
	color: #000 ;
}



.breadcam li:last-child a {
	background: none;
}
.breadcam li.current {
	color: #b5b5b5;
}
.inner-wrapper .body-container {
	padding-top: 0px;
}
.inner-wrapper .left-menu {
	width: 25%;
	float: left;
}
.inner-wrapper .inner-content {
	width: 72%;
	float: right;
}
.left-menu ul {
	display: block;
	width: 100%;
	border-right: 4px solid #ededed;
	padding-right: 20px;
}
.left-menu ul li a {
	background: url(../images/ico-inner-list.png) no-repeat 9px 16px;
	padding:10px 0px 10px 30px;
	display:block;
	font-weight:600;
}
.left-menu ul li{
margin-bottom: 10px;
}
.left-menu ul li:hover a, .left-menu ul li.active a {
	background: url(../images/ico-inner-list.png) no-repeat #efefef 9px 16px;
	
	
}
.left-menu ul li ul {padding-right:0px; width:100%; border:none;}
.left-menu ul li ul li a{margin-left:20px;}
.left-menu ul li ul li{background:none;}
.left-menu ul li:hover ul li a, .left-menu ul li.active ul li a, .left-menu ul li ul li:hover a, .left-menu ul li ul li.active a{background: url(../images/ico-inner-list.png) no-repeat 9px 16px;}
.left-menu ul li ul li a:hover{background: url(../images/ico-inner-list.png) no-repeat 9px 16px; text-decoration:underline; }

.left-menu ul li.active a, .left-menu ul li:hover a {
	color: #004242;
}
/*.left-menu ul li a {
	display: block;
	padding: 10px 0px;
	font-weight: 600;
}*/
.left-menu ul li a:hover {
	text-decoration: none;
}
.inner-content h2 {
	font-size: 200%;
	font-weight: 600;
	padding-bottom: 10px;
	
	margin-top: -9px;
	text-transform:uppercase;
}
.color-border {
	width: 40%;
	min-width: 150px;
	height: 3px;
	background: #004242;
	margin-bottom: 20px;
}
.inner-content h3 {
  	font-weight: 700;
    margin-bottom: 20px;
    color: #212020;
    font-size: 18px;
}

.borderd-box {
  background: #fefefe none repeat scroll 0 0;
  border: 1px solid #e6e4e4;
  padding: 15px 30px;
}
.two-clmn-borderd {
  float: none;
  width: 100%;
}

.two-clmn-inner .inner-min-info-img {
  float: left;
  width: 30%;
  padding-right:12px;
}
.two-clmn-borderd:first-child{border-bottom:1px solid #dddddd;}
.two-clmn-inner .inner-min-info {
  float: right;
  padding-top: 30px;
  text-align: left;
  width: 69%;
}
.two-clmn-inner {
  float: left;
  padding: 15px 0;
  width: 50%;
}
.two-clmn-inner .inner-min-info span{display:block;}
.two-clmn-inner .inner-min-info span.min-name{ font-weight:600; padding-bottom:1px;}
.two-clmn-inner .inner-min-info span.designation{ font-weight:600; padding-bottom:4px;}

.inner-content p {
	font-size: 100%;
}
.inner-content ul {
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 22px;
}
.inner-content ul li {
	background:url(../images/ico-bullete.png) no-repeat 0px 6px;
	padding-left: 18px;
	margin-bottom: 10px;
	margin-right: 4%;
}
.inner-content ul li a{color:#000000;}
.inner-content ul li a:hover, .inner-content ul li a:hover span{color:#50c062 ;}
.inner-content ul li a span{color:#767474;}
.inner-content ol{list-style-type:lower-roman; padding-left: 22px; padding-bottom: 22px;}
.inner-content ol li {
	
	padding-left: 5px;
	margin-bottom: 10px;
	margin-right: 4%;
}
.inner-content ul li:last-child {
	margin-bottom: 0px;
}
.inner-content hr {
	color: #ebebeb;
	background: #ebebeb;
	margin: 30px 0px;
}
.inner-content img.left {
	float: left;
	padding: 4px;
	border: 1px solid #ebebeb;
	margin: 0px 20px 20px 0px;
}
.inner-content img.right {
	float: right;
	padding: 4px;
	border: 1px solid #ebebeb;
	margin: 0px 0px 20px 20px;
}
#overflow_menu.main-menu ul > li {
  float: left;
}


/*===============Menu Theme ===============*/

.main-menu > ul > li a.home {
  
  padding: 10px 24px !important;
}
.sub-nav {
  top: 2.5em;
}

.megamenu-wraper {
	background: #f1f2f1;
	
}
.main-menu ul > li a {
	color:#000;
	font-weight:400;
	background:none;
}
.main-menu ul>li > a {
	color: #444444;
	font-weight: 400;
	text-transform: none;
}
.main-menu ul > li {
	border: none;
}
.main-menu > ul > li.active > a, .main-menu > ul > li > a:focus, .main-menu > ul > li > a.hover, .main-menu > ul > li:hover > a, .main-menu > ul > li > a:hover, .main-menu > ul > li > a.home, .nav-item > a.open {
	background:  #1E5729;
	color: #fff !important;
}
.sub-nav {
	background-color: rgba(255, 255, 255, 0.9);
	border: 1px solid rgba(255, 255, 255, 0.1);
}
.main-menu .sub-nav ul li a {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
	color: #fff !important;
	font-weight:400 !important;
	border:1px solid transparent;
}
.main-menu .sub-nav ul li a:hover, .main-menu .sub-nav ul li a:focus{border:1px solid rgba(0,0,0,0.1);} 
.main-menu .sub-nav ul li {
	border-bottom:1px solid rgba(0, 0, 0, 0) !important;
	
}

.main-menu a.btn-more,  .main-menu a.btn-more:focus {
	background:#1E5729!important;
	color:#FFF !important;
	padding: 8px 19px !important;
}
.main-menu a.btn-more:hover{padding: 8px 19px !important;}
.main-menu a.btn-more:focus, .main-menu a.btn-more:hover {
	background:#1E5729 !important;
}
.main-menu a.btn-more.opened, .main-menu a.btn-more.opened:hover, .main-menu a.btn-more.opened:focus {
	background-color:#1E5729 !important;
	color:#FFF !important;
}
.sub-nav {
	/*border: 1px solid #FFF ;
            background-color: rgba(255,255,255,1) ;*/
			background:  #1E5729 ;
	
}
#overflow_menu {
	border-top:1px solid rgba(0, 0, 0, 0.1);
}
#overflow_menu.main-menu ul > li {
	float: left;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sub-nav .sub-sub-nav ul li {
	background:url(../images/blt-order.png) no-repeat left center;
	padding-left:4px;
}
.sub-nav li {
	background: rgba(0, 0, 0, 0) url("../images/ico-bullete3.jpg") no-repeat scroll left 14px;
	padding-left: 0px;
}
.main-menu .sub-nav-group>li>a {
	background:rgba(0, 0, 0, 1);
}
.main-menu .sub-nav ul li a {
	padding: 7px 10px;
}

#main_menu ul li{border-right:1px solid rgba(0, 0, 0, 0.1);}

.nav-item > a {
  margin: 0 0 0px;
}

.main-menu > ul > li > a{
  padding: 12px 19px !important;
}


.sub-nav-group  span.indicator{display:none;}

.testimonials-wraper{background:url(../images/testi-bg.jpg) repeat; padding:60px 0px;}

.testimonials ul li .testi-img{float:left; width:20%;  text-align:center;}


.testimonials ul li .testi-img {
	position: relative;
	background:url(../images/testi-bg.jpg) repeat;
	
}
.testimonials ul li .testi-content{float:right; width:80%; padding-left:2%; border-left:1px solid #c8c9ca;}
.testimonials ul li .testi-content h4{color:#2b2626; font-size:220%; font-weight:400; line-height:97%; padding-bottom:15px;}
.testimonials ul li .testi-content h5{color:#000000; font-size:120%; font-weight:600; line-height:97%; padding-bottom:10px;}
.testimonials ul li .testi-content p{color:#4096e1; font-size:105%; font-weight:400; line-height:160%; padding-bottom:0px;}
.testimonials ul li .testi-content .testi-links {text-align:left;}
.testimonials ul li .testi-content .testi-links a {display:inline-block; color:#f99457; padding:5px 10px;}
.testimonials ul li .testi-content .testi-links a:hover{text-decoration:underline;}
.testimonials ul li .testi-content .testi-links a:first-child{padding-left:0px;}

.testimonials ul li .testi-img::after {
  background: url("../images/ico-tooltip-arrow2.png") no-repeat scroll 0 0;
  border: medium solid transparent;
  content: " ";
  height: 17px;
  left: 98%;
  margin-top: -8px;
  pointer-events: none;
  position: absolute;
  top: 64%;
  width: 12px;
}


.testimonials ul li .testi-img img{display:inline-block; width:auto;}

.testimonials .flex-control-nav {
  
  text-align: right;
}
.testimonials .flex-control-paging li a {
 
  overflow: hidden;
  text-indent: 100px !important;
  
}

.testimonials .flex-pauseplay a {
  
 
  color: #fff;
  height: 20px;
  left: 10px;
  line-height: 15px;
  text-align:center;
  
  width: 20px;
 
  background:#7c7c7c;
  border-radius: 0;
}

.testimonials .flex-pauseplay a::before {
  font-size: 10px;
}
.testimonials .flex-pauseplay {
  bottom: -45px;
  position: absolute;
  right: 0;
}

.flex-control-paging li a.flex-active {
  background: #4096e1;
  
}



/*=============================Inner Page==================================*/
.inner-banner{ width:100%;}
.breadcam{ }
.breadcam li{float:left; color:#5E5E5E; font-size:90%;}
.breadcam li a{display:block; padding-right:10px; margin-right:5px; background:url(../images/bredcam-arrow.png) no-repeat right 5px; color:#1e5729;}
.breadcam li a:hover{ text-decoration:underline;}
.rajvasa-main-container{ width:100%; margin:30px 0; color: #4b5457;}
.rajvasa-main-container h2{ width:100%; background:#f58400; text-align:center; font-size:180%; color:#fff; font-weight:300; border-bottom:2px solid #c9c9c9;}
.rajvasa-main-container p{ margin:20px 0 0 0; font-size:110%;}
.rajvasa-main-container li{ width:100%; margin:15px 0; font-size:110%; position:relative; padding-left:37px;}
.rajvasa-main-container li span{ height:25px; width:25px; background:#006581; color:#fff; text-align:center; line-height:25px; border-radius:50%; display:inline-block; position:absolute; left:0px; top:3px;}
.rajvasa-main-container li .content{ width:100%; float:none;}





#parentHorizontalTab{background:#fff;}

.resp-tabs-list li {
    font-weight: 600;
    font-size: 110%;
    display: inline-block;
    padding: 10px 25px;
    list-style: none;
    cursor: pointer;
    float: left;
	border:0px solid #cdcdcd;
	border-bottom:0px!important;
	color:#f0f0f0;
	background:#1e5729!important;
	margin-right:4px;
}
.resp-tabs-list li:last-child{margin-right:0px;}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}


h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
	min-height:212px;
	position:relative;
	
}

.resp-tabs-list li.resp-tab-active {
	border: 0px solid #cdcdcd !important;
	border-bottom: none;
	margin-top:0!important;
	border-top: 0px solid #cdcdcd !important;
	border-bottom: 2px #607060 solid !important;
	background:none !important;
	color:#607060;
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

ul.resp-tabs-list{ display:flex;}

.resp-tab-content {
	border-top-color: #cdcdcd;
	/* background:url(../images/tab-bg.png) repeat; */
	border:1px solid #dadada;
}

.resp-tab-content a.moreBtn {
  background: none repeat scroll 0 0 #dcdcdc;
  border: 0 none;
  bottom: 15px;
  color: #333;
  padding: 5px 8px;
  position: absolute;
  right: 15px;
}
.resp-tab-content a.moreBtn:hover {
	background:#999;
	color:#fff
}
h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 1px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}

/*-----------Vertical tabs-----------*/


.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    float: left;
    width: 68%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
    word-wrap: break-word;
}

.resp-vtabs li.resp-tab-active {
	
position: relative;
z-index: 1;
margin-right: -1px !important;
padding: 14px 15px 15px 14px !important;
border-top: 1px solid;
border: 1px solid #5AB1D0 !important;
border-left: 4px solid #5AB1D0 !important;
margin-bottom: 4px !important;
border-right: 1px #FFF solid !important;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #DBDBDB;/* !important;*/
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1;/* !important;*/
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1;/* !important;*/
}

.resp-tab-content ul{padding-top:5px;}

.resp-tab-content ul li, ul.page-list li {
  background: rgba(0, 0, 0, 0) url("../images/blt_arrow.png") no-repeat scroll left 5px;
  display: block;
  font-size: medium;
  margin-bottom: 15px;
  margin-left: 10px;
  padding-left: 15px;
}
.resp-tab-content ul li a, ul.page-list li a{color:#504d4d;}
.resp-tab-content ul li a:hover, ul.page-list li a:hover{color:#5dbf63;}

.resp-tabs-container span.content-title{text-transform:uppercase; font-weight:600; color:#262424; display:block; padding-top: 25px; padding-bottom: 10px;}

.resp-tab-content ul li a{
	
	/* background:url(../images/tab-blt.png) no-repeat 0px 5px;  */
}



.major-schemes{width:36%; float:right; padding:0px 20px; height: 550px; overflow: auto;}

.major-schemes h4 {
  background: rgba(0, 0, 0, 0) url("../images/heading-bg.jpg") repeat-x scroll center bottom;
  font-size: 150%;
  font-weight: 400;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.box-model {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e1dddd;
  margin-top: 32.5px;
  padding: 15px;
}
.box-model .model-footer{background:url(../images/model-footer-bg.jpg) repeat-x top center; padding-top:10px; margin-top:10px; text-transform:uppercase;}
.button-grp{padding-top:10px;}

.button-grp a{display:inline-block; padding:5px 10px; font-weight:600; font-size:95%;}
.button-grp a i{font-size:150%;}

.box-model ul.list, .sristi ul.list{padding-bottom:0px; padding-top:3%; color:#000;}

.box-model ul.list li , .sristi ul.list li {
  background: url(../images/ico-list-dark.png) no-repeat scroll 0 8px;
  display: block;
  padding: 0 0 2.4% 5%;
}
.sristi ul.list li {
    padding: 0 0 3.9% 5%;
}
.sristi .list li a:hover { text-decoration: underline; }

.box-model .model-heading{display:block; font-size:108%; font-weight:bold;}
.links-wrapper{background:#50c062; padding:30px 0px;}

.text-blue{color:#1d79c6;}
.text-prple{color:#9f156d;}
.text-red{color:#c51818;}

.wrapper home-banner{
	float:left; width:50%;
}
.page-tab{float:left; width:84%; height: auto; overflow: auto;}

.page-tab ul.page-list + span.content-title{padding-top:10px;}

ul.page-list li a{display:block;}
/* ul.page-list li a+a{padding-top:5px;}
 */
.links-wrapper .icon-box{display:inline-block; text-align:center; width:16%; }
.links-wrapper .icon-box a{display:block;}
.links-wrapper .icon-box *{transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;}
.links-wrapper .icon-box a .icon-box-ico{width:70px; height:70px; border-radius:50%; border:2px solid #35573a; display:inline-block; background-repeat:no-repeat; background-position:0px 0px;  background-color: transparent;  }
.links-wrapper .icon-box a:hover .icon-box-ico, .links-wrapper .icon-box a:focus .icon-box-ico{background-position:0px -70px; background-color:#d7606d; border:2px solid #fff;  }
.links-wrapper .icon-box  a .icon-box-ico.budget{background-image:url(../images/icons/ico-budget.png);}
.links-wrapper .icon-box  a .icon-box-ico.charter{background-image:url(../images/icons/ico-charter.png);}
.links-wrapper .icon-box  a .icon-box-ico.book{background-image:url(../images/icons/ico-book.png);}
.links-wrapper .icon-box  a .icon-box-ico.reports{background-image:url(../images/icons/ico-reports.png);}
.links-wrapper .icon-box  a .icon-box-ico.act-rules{background-image:url(../images/icons/ico-act-rules.png);}
.links-wrapper .icon-box  a .icon-box-ico.sms{background-image:url(../images/icons/ico-sms.png);}

.links-wrapper .icon-box  a .icon-box-text{display:block; color:#28422c; text-transform:uppercase; font-size:115%; font-weight:600; padding-top:8px; }
.links-wrapper .icon-box  a:hover .icon-box-text, .links-wrapper .icon-box  a:focus .icon-box-text{color:#fff;}
a.btn-view{ color:#607060; font-weight:700; display:inline-block; padding-left: 10px;}

.sristi{background:#ffffff; padding:5.5%;}
.sristi ul.list li a{color:#363434; font-size:100%;}
.sristi ul.list{padding-left:10px;}

.video-gallery{margin-top:41px;}

.video-gallery-content a img {
	width: 100%;
}

.video-gallery-heading{background:#1e5729; text-transform:uppercase; padding:2.5% 3%; color:#fff;}
.video-gallery-heading span{float:left; display:inline-block; font-size:110%;} 
.video-gallery-heading a{float:right; display:inline-block; color:#FFF; font-weight:600;} 
.sristi h4{background:url(../images/icons/sristi-bg.png) no-repeat left center; padding-left:35px; font-size:130%; font-weight:600; padding-top:2%; padding-bottom:3%;}

.table-green th{background:#1e5729;}


/*=============hindi menu=============*/

.hindi-page .main-menu > ul > li a.home {
  font-size: 22px;
  padding: 9px 24px;
}
.hindi-page .sub-nav {
  top: 3em;
}

.hindi-page .sub-nav li {
  background-position:left 20px !important;
}

.display-block{display:block; }
.text-small{font-size:70%; }

/*============inner page=============*/

.sub-sec img {
	margin-left: 50px;
}
i.fa.fa-file-pdf-o {
    color: red;
}
.minister-panel {
    min-height: 542px;
}